
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
}

body {
  background-color: #f5f5f5;
}

header{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: fixed;
  background-color: #f5f5f562;
  backdrop-filter: blur(5px);
}

header img{
  width: 150px;
  margin: 0.5rem;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li{
  list-style: none;
  margin: 0 1.5rem;
}

header nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #005725;
  text-transform: uppercase;
}

video{
  clip-path: inset(50px 0 50px 0);
  position: relative;
  bottom:50px;
}

.video-container{
  position: relative;
}

.video-text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 10;
  width: 75%;
}

.video-text h1{
  font-size: 5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: solid 1px white;
  padding-bottom: 0.5rem;
}

.video-text span{
  font-size: 2rem;
  font-weight: 300;
}

.video-text-background{
  background-color: #212526;
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 10;
  opacity: 0.2;
}

section{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h2{
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #005725;
  border-bottom: 2px solid #005725;
}

.lotes-img{
  width: 55%;
  margin: 2rem;
}

section p{
  width: 55%;
  text-align: justify;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

section p ul li{
  list-style: none;
  margin: 0.5rem 1rem;
}

